/* Media */
$tablet: 768px;
$desktop: 1024px;


/* Colors */
$white: #FFFFFF;
$mid-white: #F9FBFF;
$light-grey: #EBEFF4;
$black: #000000;

$lighter-blue: #ECF2FD;
$light-blue: #D4E3FF;
$blue: #306BFF;
$greyish-blue: #617EC7;
$dark-blue: #163FA5;


/* Fonts */
$logo: 'Kanit', sans-serif;
$regular: 'Noto Sans Symbols', sans-serif;

/* Sizes */


